/* NoteForm.css */

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form select {
    margin-bottom: 15px;
}
form textarea{
    width: 98%;
}

form button {
    width: 120px;
    align-self: flex-end;
}

/* Media Queries */
@media (max-width: 768px) {
    form input,
    form textarea,
    form select {
        padding: 8px;
    }
    
    form button {
        width: 100px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    form input,
    form textarea,
    form select {
        padding: 6px;
        font-size: 0.85rem;
    }
   

    form button {
        width: 90px;
        font-size: 0.85rem;
    }
}
